In [2]:
#while loop
a=[1,2,3,4]

In [3]:
i=0
cond=True
while cond:
    print(i)
    i=i+1
    if i==5:
        cond=False

0
1
2
3
4

In [4]:
i=0
cond=True
while cond:
    print(i)
    i=i+1
    if i==5:
        break

0
1
2
3
4

In [9]:
#functions

def sums(a,b):
    return (a+b)
    
d=sums(2,3)
print(d)

2

In [10]:
def square(x):
    return x**2

#local variable : variable defined inside a function/class and value terminate as function terminates
#global variable: variable defined outside a function/class and persists throughout the program

In [11]:
#function calling
square(3)

9

In [13]:
def square(x,y):
    z=x**y
    return (x,y,z)

val=square(2,3)

In [14]:
val

(2, 3, 8)

In [15]:
def power(x,y):
    z=x**y
    return(x,y,z)

In [16]:
val,power,result=power(3,4)

In [17]:
val,power,result

(3, 4, 81)

In [18]:
def power(x=1,y=1):
    z=x**y
    return(x,y,z)

In [21]:
a,b,c=power(y=3)

In [22]:
a,b,c

(1, 3, 1)

In [31]:
#args and kwargs
def func(*args,**kwargs):
    for item in args:
        print(item)
    for key, val in kwargs.items():
        print(key, val)

In [32]:
 func(1,'abc',name='vrit',address='shankhamul',age=40)

1
abc
name vrit
address shankhamul
age 40

In [33]:
#sequence 3 with different length and a function to calculate the sum of each sequence

a=[1,2,3]
b=[2,3,4,5,6]
c=[4,5,6,7]

In [51]:
def funct(*args , **kwargs):
    sum=0
    for item in args:
        sum=sum+item
    print (sum)
    sum=0
    for key,val in kwargs.items():
        sum=sum+val
    print(sum)

In [52]:
funct(1,2,3,4,a=2,b=3,c=8,d=9)

10
22

In [54]:
def funct(*args ):
    sum=0
    for item in args:
        sum=sum+item
    print (sum)

In [55]:
funct(1,2,3,4,5)
funct(3,3,3,3,3,3,3)
funct(4,4,4,4,4,4)

15
21
24

In [75]:
a=[1,2,3]
b=[1,2,3,4,5]
c=[1,2,3,4,5,6]

In [76]:
sum=0
for i in range(len(a)):
    sum=sum+a[i]
print (sum)

6

In [81]:
def sumf(f):
    sum=0
    for i in range(len(f)):
        sum=sum+f[i]
    print (sum)

In [71]:
#list comrehensive
sumf(a)

6

In [82]:
sumf(b)

15

In [83]:
sumf(c)

21

In [72]:
b=[x**2 for x in a if x%2==0]